<!-- Input and weather button section -->
<div class="container">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Specifier la ville/nation"
      [(ngModel)]="cityName"
      aria-label="City Name"
    >
    <button
      class="btn btn-primary"
      type="button"
      (click)="getWeatherData()"
      aria-label="Get Weather"
    >
      Get Weather
    </button>
  </div>


  <div class="card" *ngIf="weatherData">
    <div class="card-header bg-primary text-white">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="mb-0">Weather in {{displayedCity}}</h2>
        <img *ngIf="country" [src]="getCountryFlag(country)" alt="Country flag" height="40">
      </div>
    </div>
    <div class="card-body" [ngClass]="getTempClass(temp)">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="d-flex align-items-center">
            <img *ngIf="weatherIcon" [src]="weatherIcon" alt="Weather icon">
            <p class="h3 mb-0">{{temp}}°C</p>
          </div>
          <p><strong>Country:</strong> {{country}}</p>
        </div>
        <div class="col-md-6 col-12">
          <p><strong>Pressure:</strong> {{pression}} hPa</p>
          <p><strong>Humidity:</strong> {{humidite}}%</p>
        </div>
      </div>
      <button
        class="btn btn-outline-secondary mt-3"
        (click)="toggleDetails()"
        aria-label="Toggle Details"
      >
        {{ showDetails ? 'Hide Details' : 'Show Details' }}
      </button>
      <app-detailed-weather *ngIf="showDetails" [weatherData]="weatherData"></app-detailed-weather>
    </div>
  </div>
</div>
